$main-color: #222222;
$sub-color: #eeeeee;
$selected: #2196f3;
$head-font: "Do Hyeon";
$sub-font: "Noto Serif KR";

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Serif+KR:wght@200..900&display=swap");

.noto-serif-kr {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
}
.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 62.5%;
  position: relative;
  font-family: $sub-font;
  word-break: keep-all;
  text-align: center;
}
button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 10px;
  color: $main-color;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #777;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.4), 15%);
  }
}
input::placeholder {
  opacity: 1;
}
input:focus::placeholder {
  opacity: 0;
}
//모드 변경 버튼
.btn-mode {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  display: flex;
  gap: 0.5rem;
  transition: all 0.5s ease;
  button {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    &.selected {
      border: 3px solid $selected;
    }
    &.dark {
      background-color: $main-color;
      &:hover {
        background-color: darken($main-color, 15%);
      }
      &.selected {
        background-color: darken($main-color, 10%);
      }
    }
    &.white {
      background-color: $sub-color;
      &:hover {
        background-color: darken($sub-color, 15%);
      }
      &.selected {
        background-color: darken($sub-color, 10%);
      }
    }
    &.random {
      background-image: linear-gradient(
        111.6deg,
        rgb(114, 167, 232) 9.4%,
        rgb(253, 129, 82) 43.9%,
        rgb(253, 129, 82) 54.8%,
        rgb(249, 202, 86) 86.3%
      );
      &:hover {
        filter: brightness(0.85);
      }
      &.selected {
        filter: brightness(0.9);
      }
    }
  }
  @media (max-width: 768px) {
    top: 2.5rem;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

//App
.app {
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 3rem;
  @media (max-width: 768px) {
    padding-top: 6rem;
  }
  @media (max-width: 575px) {
    padding-top: 12rem;
  }
  @media (max-width: 400px) {
    padding-top: 16rem;
  }
  @media (max-width: 344px) {
    padding-top: 14rem;
  }
  .center {
    width: 100%;
    position: relative;
    transition: all 0.5s ease;
  }
}

//Time
.time {
  font-family: $head-font;
  letter-spacing: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  font-size: clamp(1rem, 4vw, 4.5rem);
  font-weight: bolder;
  p {
    font-size: clamp(1rem, 2vw, 3rem);
    letter-spacing: 0.1rem;
  }
}

//LoginForm
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  h2 {
    font-size: clamp(1rem, 4vw, 5rem);
    font-family: $head-font;
    letter-spacing: 0.1rem;
    font-weight: normal;
  }
  .name_box {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
//MainPage
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  margin: 1rem auto;
  .quote {
    line-height: 2;
    display: inline-block;
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5rem;
  }
  .hello {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: clamp(1.5rem, 4.5vw, 7rem);
      font-family: $head-font;
      letter-spacing: 0.1rem;
      font-weight: normal;
    }
  }
  .tm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    margin-top: 1rem;
    width: 100%;
    .todo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      background-color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      width: 350px;
      min-height: 210px;
      max-height: 400px;
      padding: 1.5rem;
      border-radius: 1rem;
      @media (max-width: 768px) {
        min-height: 200px;
        max-height: 150px;
      }
      @media (max-width: 400px) {
        width: 80%;
      }
      button {
        background-color: #eee;
        max-width: 100%;
        box-sizing: border-box;
        &:hover {
          background-color: darken(#eee, 10%);
        }
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
    }
  }
}

//Weather
.weather {
  font-size: 1rem;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 1rem 0 0;
  border-radius: 1rem;
  gap: 1rem;
  transition: all 0.5s ease;
  h3 {
    padding: 1rem 0;
  }
  @media (max-width: 768px) {
    font-size: 0.8rem;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    h3 {
      padding: 1rem;
    }
  }
  @media (max-width: 575px) {
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 0;
    padding: 0 0 0.5rem 0;
    font-size: 0.7rem;
    h3 {
      padding: 0 0 0.5rem 0;
    }
  }
}

//TodoForm
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;

  .play {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #999;
    border-radius: 15px;
    input {
      padding: 0.5rem 1.5rem;
      border: none;
      outline: none;
      background: none;
      text-align: center;
      width: 200px;
      @media (max-width: 400px) {
        width: 70%;
      }
      &::placeholder {
        font-style: italic;
        font-size: 1rem;
        color: #999;
      }
    }
  }
}

//TodoList
.list-none {
  margin: 1rem auto;
  text-align: center;
  color: $main-color;
}
//할일 끝
.todolist {
  .todo-in {
    flex: 1;
    min-width: 0;
    text-align: center;
    padding: 0 0.5rem;
  }
  .todo-item {
    .toggle-switch {
      margin-right: 1.5rem;
      position: relative;
      display: inline-block;
      input {
        opacity: 0;
      }
      .slider {
        width: 40px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 5rem;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      input:checked + .slider {
        background-color: #2196f3;
      }
      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }
      input:checked + .slider:before {
        transform: translateX(16px);
      }
    }
  }
}
.todolist,
.memolist {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 0.5rem;
  color: $main-color;
  li {
    padding: 0.4rem 1rem;
    border-bottom: 2px dashed #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    span {
      width: 190px;
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
    }
  }
}
.memolist {
  li {
    input {
      padding: 0.3rem 0.5rem;
      outline: none;
    }
  }
}
